// Neutral Colors
$neutral-50: #fcfcfc;
$neutral-100: #f2f2f2;
$neutral-200: #cacacf;
$neutral-300: #9f9f9f;
$neutral-400: #58585e;
$neutral-500: #47474f;
$neutral-600: #171719;
$neutral-700: #101012;
$neutral-900: #000000;

// Brand Colors
$brand-50: #F6FFBF;
$brand-100: #EDFF8C;
$brand-200: #f4ffb8;
$brand-300: #e8ff7d;
$brand-400: #DFFf31;
$brand-500: #357e17;
$brand-600: #1e3d1c;
$brand-700: #112403;
$brand-800: #486215;
$brand-900: #3C5215;

// Semantic Colors
$red: #CF4A39;
$green: #357e17;
$green-dark: #486215;
$green-darker: #1e3d1c;